:root {
  --color-primary-50: 161 161 170;
  --color-primary-100: 161 161 170;
  --color-primary-200: 113 113 122;
  --color-primary-300: 113 113 122;
  --color-primary-400: 82 82 91;
  --color-primary-500: 82 82 91;
  --color-primary-600: 63 63 70;
  --color-primary-700: 63 63 70;
  --color-primary-800: 39 39 42;
  --color-primary-900: 24 24 27;
  --color-primary-950: 9 9 11;

  /*--color-secondary: 58 152 185;*/
  /*--color-secondary: 139 51 74;*/
  /*--color-secondary: 249 181 114;*/
  --color-secondary: 205 141 122;

  // blue
  /*--color-header-tw: 179 200 207;
  --color-header: #B3C8CF;*/

  // green
  --color-header-tw: 175 200 173;
  --color-header: #AFC8AD;

  // blue purple
  /*--color-header-tw: 181 192 208;
  --color-header: #B5C0D0;*/

  // beige
  /*--color-header-tw: 250 238 209;
  --color-header: #FAEED1;*/


}

.dark {
  --color-primary-50: 121 124 128;
  --color-primary-100: 119 125 133;
  --color-primary-200: 126 133 143;
  --color-primary-300: 134 144 158;
  --color-primary-400: 144 156 173;
  --color-primary-500: 148 163 184;
  --color-primary-600: 167 181 201;
  --color-primary-700: 180 192 209;
  --color-primary-800: 197 208 222;
  --color-primary-900: 209 218 230;
  --color-primary-950: 233 237 242;

  --color-secondary: 110 231 183;
  --color-header-tw: 17 24 39;
  --color-header: #111827;

}

h1, .h1 {
  @apply text-3xl sm:text-4xl
}

h2, .h2 {
  @apply text-2xl sm:text-3xl
}

h3, .h3 {
  @apply text-xl sm:text-2xl
}

h4, .h4 {
  @apply text-lg sm:text-xl
}

h5, .h5 {
  @apply text-lg sm:text-xl
}
